
<div class="jumbotron">
    <div class='row' data-ng-show='Utils.wordsReady'>
      <div class='col-lg-6'>
        <h2>Wordlist</h2>
        <div class='panel'>
            <ul>
              <li ng-repeat="item in Model.words">
                <a href=''  data-ng-click='getAnagrams(item)'>{{item}}</a>
              </li>
            </ul>
        </div>
      </div>

      <div class='col-lg-6 anagrams'>
        <h2>Anagrams</h2>
         <div class='panel' data-ng-show='Model.anagrams'>
            <ul>
              <li ng-repeat="item in Model.anagrams">
                <a href=''  data-ng-click='getAnagrams(item)'>{{item}}</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
